@charset "UTF-8";html {
    --border: 1px solid #404040;
    --c-accent: #d64f00;
    --c-accent-clear: #de7233;
    --c-accent-dim: #ab3f00;
    --c-accent-over: #fff;
    --c-bad: #c33;
    --c-bad-over: #fff;
    --c-bg-action: #32312f;
    --c-bg-box: #252422;
    --c-bg-box-opaque: #252422;
    --c-bg-header-dropdown: #383633;
    --c-bg-high: #252422;
    --c-bg-input: #24211e;
    --c-bg-low: #383633;
    --c-bg-metal: #2f2e2d;
    --c-bg-metal-hover: #3c3b39;
    --c-bg-page: #110f0e;
    --c-bg-popup: #383633;
    --c-bg-zebra: #2f2e2d;
    --c-bg-zebra2: #3c3b39;
    --c-blunder: #df5353;
    --c-blunder-clear: #ff3d3d;
    --c-body-gradient: #282624;
    --c-border: #404040;
    --c-border-page: #383838;
    --c-bot: #b72fc6;
    --c-brag: #bf811d;
    --c-brag-over: #fff;
    --c-brilliant: #21c43a;
    --c-clas: #7f5af0;
    --c-clas-over: #fff;
    --c-darken: #333;
    --c-error: #c33;
    --c-error-over: #fff;
    --c-fancy: #b72fc6;
    --c-fancy-over: #fff;
    --c-font: #bfbfbf;
    --c-font-clear: #ccc;
    --c-font-clearer: #e3e3e3;
    --c-font-dim: #a3a3a3;
    --c-font-dimmer: #6b6b6b;
    --c-font-metal: inherit;
    --c-font-metal-hover: #ccc;
    --c-font-page: #a3a3a3;
    --c-font-shadow: #000;
    --c-good: #629924;
    --c-good-move: #5ddf73;
    --c-good-over: #fff;
    --c-gote: #a3a3a3;
    --c-gote2: #e3e3e3;
    --c-header-dropdown: #ccc;
    --c-inaccuracy: #53b2ea;
    --c-inaccuracy-clear: #66c7ff;
    --c-interesting: #eb47d8;
    --c-last-dest: rgba(169,199,0,.41);
    --c-link: #2b88de;
    --c-link-clear: #569fe5;
    --c-link-dim: #2573bd;
    --c-link-hover: #47a6ff;
    --c-link-over: #fff;
    --c-mistake: #e69d00;
    --c-mistake-clear: #ffb619;
    --c-page-input: #252422;
    --c-page-mask: rgba(0,0,0,.6);
    --c-popup: #ccc;
    --c-premoved: rgba(20,30,85,.5);
    --c-premoved-hover: rgba(20,30,85,.25);
    --c-primary: #2b88de;
    --c-primary-clear: #569fe5;
    --c-primary-dim: #2573bd;
    --c-primary-over: #fff;
    --c-red: #c33;
    --c-secondary: #629924;
    --c-secondary-clear: #82ad50;
    --c-secondary-dim: #4f7a1d;
    --c-secondary-dimmer: #3b5c16;
    --c-secondary-over: #fff;
    --c-selected: rgba(20,85,30,.5);
    --c-selected-hover: rgba(20,85,30,.25);
    --c-sente: #3c3b39;
    --c-sente2: #110f0e;
    --c-shade: #4d4d4d;
    --c-warn: #bf811d;
    --c-warn-over: #fff;
    --gote-symbol: "☗";
    --metal-shadow: none;
    --sente-symbol: "☖";
    --text-shadow: none;
    --m-accent_alpha_neg40: rgba(214,79,0,.6);
    --m-accent_alpha_neg50: rgba(214,79,0,.5);
    --m-accent_alpha_neg70: rgba(214,79,0,.3);
    --m-accent_bg-box_mix_10: #37281f;
    --m-accent_bg-box_mix_12: #3b291e;
    --m-accent_bg-box_mix_15: #402a1d;
    --m-accent_bg-box_mix_70: #a1420a;
    --m-accent_bg-popup_mix_10: #48382e;
    --m-bad_bg-box_mix_10: #362524;
    --m-bad_bg-box_mix_30: #572827;
    --m-bad_bg-box_mix_50: #792b2a;
    --m-bad_bg-zebra2_mix_20: #593938;
    --m-bad_bg-zebra2_mix_60: #933635;
    --m-bad_darken_mix_80: #ad3333;
    --m-bad_font_mix_80: #c94f4f;
    --m-bg-box_alpha_neg20: rgba(37,36,34,.8);
    --m-bg-box_alpha_neg50: rgba(37,36,34,.5);
    --m-bg-box_bg-page_mix_50: #1b1a18;
    --m-bg-box_c-alpha_100: #252422;
    --m-bg-box_clas_mix_70: #403460;
    --m-bg-box_clas_mix_93: #2c2830;
    --m-bg-box_good_mix_74: #354222;
    --m-bg-box_good_mix_80: #323b22;
    --m-bg-input_lightness_neg3: #1c1a17;
    --m-bg-low_c-alpha_8: rgba(56,54,51,.08);
    --m-bg-page_c-lightness_78: #cbc7c2;
    --m-bg-page_primary_mix_40: #21578b;
    --m-bg-zebra2_red_mix_80: #593938;
    --m-bg-zebra_clas_mix_20: #6f51c9;
    --m-bg-zebra_red_mix_80: #4f2f2e;
    --m-black_accent_mix_30: #963700;
    --m-border_lightness_20: #737373;
    --m-brag_alpha_neg50: rgba(191,129,29,.5);
    --m-brag_bg-box_mix_15: #3c3221;
    --m-brag_bg-box_mix_20: #443621;
    --m-brag_bg-page_mix_60: #795317;
    --m-brag_darken_mix_85: #aa7520;
    --m-brilliant_bg-box_mix_30: #245429;
    --m-clas_bg-box_mix_10: #2e2937;
    --m-clas_bg-box_mix_80: #6d4fc7;
    --m-clas_white_mix_86: #9171f2;
    --m-error_bg-box_mix_15: #3e2624;
    --m-error_bg-high_mix_10: #362524;
    --m-error_lightness_11: #d76060;
    --m-fancy_bg-box_mix_15: #3b253b;
    --m-font-clear_clas_mix_30: #967ce5;
    --m-font-clear_primary_mix_10: #3b8edc;
    --m-font-clearer_c-alpha_15: hsla(0,0%,89%,.15);
    --m-font-clearer_c-alpha_30: hsla(0,0%,89%,.3);
    --m-font-clearer_c-alpha_50: hsla(0,0%,89%,.5);
    --m-font-clearer_c-alpha_60: hsla(0,0%,89%,.6);
    --m-font-clearer_c-alpha_95: hsla(0,0%,89%,.95);
    --m-font-clearer_primary_mix_25: #599edf;
    --m-font-dim_c-alpha_20: hsla(0,0%,64%,.2);
    --m-font-dim_c-alpha_5: hsla(0,0%,64%,.05);
    --m-good-move_bg-box_mix_30: #365c3a;
    --m-good_alpha_neg80: rgba(98,153,36,.2);
    --m-good_bg-box_mix_10: #2c3022;
    --m-good_bg-high_mix_80: #568123;
    --m-good_darken_mix_50: #4b662b;
    --m-good_darken_mix_85: #5b8a26;
    --m-good_font_mix_80: #75a143;
    --m-good_lightness_4: #6da928;
    --m-inaccuracy_bg-box_mix_30: #334f5e;
    --m-interesting_bg-box_mix_30: #612e58;
    --m-link_alpha_neg60: rgba(43,136,222,.4);
    --m-link_bg-box_mix_10: #262e35;
    --m-link_bg-box_mix_15: #26333e;
    --m-link_bg-box_mix_20: #273848;
    --m-link_bg-box_mix_80: #2a74b8;
    --m-link_bg-page_mix_20: #162738;
    --m-link_font_mix_35: #8bacca;
    --m-mistake_bg-box_mix_30: #5f4818;
    --m-primary_alpha_neg75: rgba(43,136,222,.25);
    --m-primary_alpha_neg80: rgba(43,136,222,.2);
    --m-primary_bg-box_mix_10: #262e35;
    --m-primary_bg-box_mix_12: #263038;
    --m-primary_bg-box_mix_15: #26333e;
    --m-primary_bg-box_mix_20: #273848;
    --m-primary_bg-box_mix_25: #273d51;
    --m-primary_bg-box_mix_30: #27425a;
    --m-primary_bg-box_mix_40: #284c6d;
    --m-primary_bg-box_mix_60: #296093;
    --m-primary_bg-box_mix_70: #2a6aa6;
    --m-primary_bg-box_mix_80: #2a74b8;
    --m-primary_bg-box_mix_90: #2b7ecb;
    --m-primary_bg-zebra2_mix_20: #394a5a;
    --m-primary_bg-zebra_mix_10: #2f373e;
    --m-primary_black_mix_80: #236cb2;
    --m-primary_darken_mix_80: #2d77bc;
    --m-primary_lightness_10: #57a0e5;
    --m-primary_white_mix_40: #aacff2;
    --m-primary_white_mix_60: #80b7eb;
    --m-red_alpha_neg50: rgba(204,51,51,.5);
    --m-secondary_alpha_neg50: rgba(98,153,36,.5);
    --m-secondary_alpha_neg60: rgba(98,153,36,.4);
    --m-secondary_alpha_neg80: rgba(98,153,36,.2);
    --m-secondary_alpha_neg85: rgba(98,153,36,.15);
    --m-secondary_bg-box_mix_10: #2c3022;
    --m-secondary_bg-box_mix_15: #2f3522;
    --m-secondary_bg-box_mix_20: #323b22;
    --m-secondary_bg-box_mix_30: #384722;
    --m-secondary_bg-box_mix_40: #3e5323;
    --m-secondary_bg-box_mix_50: #445e23;
    --m-secondary_bg-header-dropdown_mix_15: #3f4531;
    --m-secondary_bg-header-dropdown_mix_27: #44502f;
    --m-secondary_bg-header-dropdown_mix_36: #47592d;
    --m-secondary_bg-page_mix_60: #42621b;
    --m-secondary_bg-page_mix_80: #527d1f;
    --m-secondary_bg-popup_mix_10: #3c4031;
    --m-secondary_bg-zebra_mix_10: #34392c;
    --m-secondary_black_mix_60: #3b5c16;
    --m-white_accent_mix_20: #de7233;
    --m-white_brag_mix_20: #cc9a4a;
    --m-white_clas_mix_80: #e5defc
}

html.light {
    --border: 1px solid #d9d9d9;
    --c-accent-clear: #b24100;
    --c-accent-dim: #dd6d2b;
    --c-bg-action: #fff;
    --c-bg-box: #fff;
    --c-bg-box-opaque: #fff;
    --c-bg-header-dropdown: #fff;
    --c-bg-high: #fff;
    --c-bg-input: #fafaf9;
    --c-bg-low: #e3e3e3;
    --c-bg-metal: #fff;
    --c-bg-metal-hover: #f7f7f7;
    --c-bg-page: #edebe9;
    --c-bg-popup: #fff;
    --c-bg-zebra: #f7f6f5;
    --c-bg-zebra2: #edebe8;
    --c-blunder: #d62929;
    --c-body-gradient: #dbd7d1;
    --c-border: #d9d9d9;
    --c-border-page: #ccc;
    --c-bot: #cd63d9;
    --c-brag: #d59020;
    --c-fancy: #cd63d9;
    --c-font: #474747;
    --c-font-clear: #1f1f1f;
    --c-font-clearer: #000;
    --c-font-dim: #6b6b6b;
    --c-font-dimmer: #b3b3b3;
    --c-font-metal-hover: inherit;
    --c-font-page: #5e5e5e;
    --c-font-shadow: #fff;
    --c-good-move: #22aa38;
    --c-gote: #d1d1d1;
    --c-gote2: #fff;
    --c-header-dropdown: #474747;
    --c-inaccuracy: #167bb6;
    --c-link: #2078cb;
    --c-link-clear: #1a64a8;
    --c-link-dim: #468fd4;
    --c-link-hover: #004f98;
    --c-mistake: #b37a00;
    --c-page-input: #e3e3e3;
    --c-popup: #474747;
    --c-primary: #2078cb;
    --c-primary-clear: #1a64a8;
    --c-primary-dim: #468fd4;
    --c-secondary-clear: #527f1e;
    --c-secondary-dim: #7daa49;
    --c-secondary-dimmer: #a1c27c;
    --c-sente: #6b6b6b;
    --c-sente2: #1f1f1f;
    --c-shade: #d1d1d1;
    --c-warn: #d59020;
    --gote-symbol: "☖";
    --metal-shadow: 0 1px 0 #fff;
    --sente-symbol: "☗";
    --text-shadow: 0 1px 0 #fff;
    --m-accent_bg-box_mix_10: #fbede6;
    --m-accent_bg-box_mix_12: #faeae0;
    --m-accent_bg-box_mix_15: #f9e5d9;
    --m-accent_bg-box_mix_70: #e2834d;
    --m-accent_bg-popup_mix_10: #fbede6;
    --m-bad_bg-box_mix_10: #faebeb;
    --m-bad_bg-box_mix_30: #f0c2c2;
    --m-bad_bg-box_mix_50: #e69999;
    --m-bad_bg-zebra2_mix_20: #e6c6c4;
    --m-bad_bg-zebra2_mix_60: #d97d7b;
    --m-bad_font_mix_80: #b13737;
    --m-bg-box_alpha_neg20: hsla(0,0%,100%,.8);
    --m-bg-box_alpha_neg50: hsla(0,0%,100%,.5);
    --m-bg-box_bg-page_mix_50: #f6f5f4;
    --m-bg-box_c-alpha_100: #fff;
    --m-bg-box_clas_mix_70: #d9cefb;
    --m-bg-box_clas_mix_93: #f6f3fe;
    --m-bg-box_good_mix_74: #d6e4c6;
    --m-bg-box_good_mix_80: #e0ebd3;
    --m-bg-input_lightness_neg3: #f4f2f1;
    --m-bg-low_c-alpha_8: hsla(0,0%,89%,.08);
    --m-bg-page_c-lightness_78: #cdc7c1;
    --m-bg-page_primary_mix_40: #72a6d7;
    --m-bg-zebra2_red_mix_80: #e6c6c4;
    --m-bg-zebra_clas_mix_20: #9779f1;
    --m-bg-zebra_red_mix_80: #efcfce;
    --m-border_lightness_20: #fff;
    --m-brag_alpha_neg50: rgba(213,144,32,.5);
    --m-brag_bg-box_mix_15: #f9eede;
    --m-brag_bg-box_mix_20: #f7e9d2;
    --m-brag_bg-page_mix_60: #deb470;
    --m-brag_darken_mix_85: #bd8223;
    --m-brilliant_bg-box_mix_30: #bcedc4;
    --m-clas_bg-box_mix_10: #f2effe;
    --m-clas_bg-box_mix_80: #997bf3;
    --m-error_bg-box_mix_15: #f7e0e0;
    --m-error_bg-high_mix_10: #faebeb;
    --m-fancy_bg-box_mix_15: #f8e8f9;
    --m-font-clear_clas_mix_30: #6248b1;
    --m-font-clear_primary_mix_10: #206fba;
    --m-font-clearer_c-alpha_15: rgba(0,0,0,.15);
    --m-font-clearer_c-alpha_30: rgba(0,0,0,.3);
    --m-font-clearer_c-alpha_50: rgba(0,0,0,.5);
    --m-font-clearer_c-alpha_60: rgba(0,0,0,.6);
    --m-font-clearer_c-alpha_95: rgba(0,0,0,.95);
    --m-font-clearer_primary_mix_25: #185a98;
    --m-font-dim_c-alpha_20: hsla(0,0%,42%,.2);
    --m-font-dim_c-alpha_5: hsla(0,0%,42%,.05);
    --m-good-move_bg-box_mix_30: #bde6c3;
    --m-good_bg-box_mix_10: #eff5e9;
    --m-good_bg-high_mix_80: #82ad50;
    --m-good_font_mix_80: #5d892b;
    --m-inaccuracy_bg-box_mix_30: #b9d7e9;
    --m-interesting_bg-box_mix_30: #f9c8f3;
    --m-link_alpha_neg60: rgba(32,120,203,.4);
    --m-link_bg-box_mix_10: #e9f2fa;
    --m-link_bg-box_mix_15: #deebf7;
    --m-link_bg-box_mix_20: #d2e4f5;
    --m-link_bg-box_mix_80: #4c93d5;
    --m-link_bg-page_mix_20: #c4d4e3;
    --m-link_font_mix_35: #395875;
    --m-mistake_bg-box_mix_30: #e8d7b3;
    --m-primary_alpha_neg75: rgba(32,120,203,.25);
    --m-primary_alpha_neg80: rgba(32,120,203,.2);
    --m-primary_bg-box_mix_10: #e9f2fa;
    --m-primary_bg-box_mix_12: #e4eff9;
    --m-primary_bg-box_mix_15: #deebf7;
    --m-primary_bg-box_mix_20: #d2e4f5;
    --m-primary_bg-box_mix_25: #c7ddf2;
    --m-primary_bg-box_mix_30: #bcd7ef;
    --m-primary_bg-box_mix_40: #a6c9ea;
    --m-primary_bg-box_mix_60: #79aee0;
    --m-primary_bg-box_mix_70: #63a1db;
    --m-primary_bg-box_mix_80: #4c93d5;
    --m-primary_bg-box_mix_90: #3686d0;
    --m-primary_bg-zebra2_mix_20: #c4d4e2;
    --m-primary_bg-zebra_mix_10: #e2eaf1;
    --m-primary_black_mix_80: #1960a2;
    --m-primary_darken_mix_80: #246aad;
    --m-primary_lightness_10: #3d92e1;
    --m-primary_white_mix_40: #a6c9ea;
    --m-primary_white_mix_60: #79aee0;
    --m-secondary_bg-box_mix_10: #eff5e9;
    --m-secondary_bg-box_mix_15: #e7f0de;
    --m-secondary_bg-box_mix_20: #e0ebd3;
    --m-secondary_bg-box_mix_30: #d0e0bd;
    --m-secondary_bg-box_mix_40: #c0d6a7;
    --m-secondary_bg-box_mix_50: #b1cc91;
    --m-secondary_bg-header-dropdown_mix_15: #e7f0de;
    --m-secondary_bg-header-dropdown_mix_27: #d5e3c4;
    --m-secondary_bg-header-dropdown_mix_36: #c7dab0;
    --m-secondary_bg-page_mix_60: #9aba73;
    --m-secondary_bg-page_mix_80: #7ea94b;
    --m-secondary_bg-popup_mix_10: #eff5e9;
    --m-secondary_bg-zebra_mix_10: #e8ede0;
    --m-white_brag_mix_20: #dda64c
}

html.transp {
    --c-bg-action: rgba(0,0,0,.6);
    --c-bg-box: rgba(0,0,0,.6);
    --c-bg-header-dropdown: rgba(41,41,41,.9);
    --c-bg-high: rgba(0,0,0,.6);
    --c-bg-input: #292929;
    --c-bg-low: rgba(0,0,0,.5);
    --c-bg-metal: rgba(0,0,0,.6);
    --c-bg-metal-hover: hsla(0,0%,7%,.55);
    --c-bg-popup: rgba(0,0,0,.6);
    --c-bg-zebra: hsla(0,0%,100%,.05);
    --c-font: #ccc;
    --c-font-clear: #e3e3e3;
    --c-font-clearer: #f7f7f7;
    --c-font-dim: #b0b0b0;
    --c-font-dimmer: #7a7a7a;
    --c-font-metal-hover: inherit;
    --c-font-page: #f7f7f7;
    --c-page-input: rgba(0,0,0,.6);
    --text-shadow: 0.5px 1px 1px #000;
    --m-accent_bg-box_mix_10: rgba(44,16,0,.64);
    --m-accent_bg-box_mix_12: rgba(52,19,0,.648);
    --m-accent_bg-box_mix_15: rgba(62,23,0,.66);
    --m-accent_bg-box_mix_70: rgba(181,66,0,.88);
    --m-accent_bg-popup_mix_10: rgba(44,16,0,.64);
    --m-bad_bg-box_mix_10: rgba(42,11,11,.64);
    --m-bad_bg-box_mix_30: rgba(102,26,26,.72);
    --m-bad_bg-box_mix_50: rgba(143,36,36,.8);
    --m-bad_font_mix_80: #cc5252;
    --m-bg-box_alpha_neg20: rgba(0,0,0,.4);
    --m-bg-box_alpha_neg50: rgba(0,0,0,.1);
    --m-bg-box_bg-page_mix_50: hsla(32,2%,64%,.8);
    --m-bg-box_c-alpha_100: #000;
    --m-bg-box_clas_mix_70: rgba(64,45,120,.72);
    --m-bg-box_clas_mix_93: rgba(19,13,36,.628);
    --m-bg-box_good_mix_74: rgba(44,69,16,.704);
    --m-bg-box_good_mix_80: rgba(36,56,13,.68);
    --m-bg-input_lightness_neg3: #212121;
    --m-bg-low_c-alpha_8: rgba(0,0,0,.08);
    --m-bg-zebra_clas_mix_20: rgba(128,91,240,.81);
    --m-bg-zebra_red_mix_80: rgba(209,70,70,.24);
    --m-brag_bg-box_mix_15: rgba(62,42,9,.66);
    --m-brag_bg-box_mix_20: rgba(78,53,12,.68);
    --m-brilliant_bg-box_mix_30: rgba(17,98,29,.72);
    --m-clas_bg-box_mix_10: rgba(26,19,49,.64);
    --m-clas_bg-box_mix_80: rgba(115,81,217,.92);
    --m-error_bg-box_mix_15: rgba(60,15,15,.66);
    --m-error_bg-high_mix_10: rgba(42,11,11,.64);
    --m-fancy_bg-box_mix_15: rgba(60,29,63,.66);
    --m-font-clear_clas_mix_30: #9d83ec;
    --m-font-clear_primary_mix_10: #3383cd;
    --m-font-clearer_c-alpha_15: hsla(0,0%,97%,.15);
    --m-font-clearer_c-alpha_30: hsla(0,0%,97%,.3);
    --m-font-clearer_c-alpha_50: hsla(0,0%,97%,.5);
    --m-font-clearer_c-alpha_60: hsla(0,0%,97%,.6);
    --m-font-clearer_c-alpha_95: hsla(0,0%,97%,.95);
    --m-font-clearer_primary_mix_25: #5698d6;
    --m-font-dim_c-alpha_20: hsla(0,0%,69%,.2);
    --m-font-dim_c-alpha_5: hsla(0,0%,69%,.05);
    --m-good-move_bg-box_mix_30: rgba(17,85,28,.72);
    --m-good_bg-box_mix_10: rgba(20,31,7,.64);
    --m-good_bg-high_mix_80: rgba(89,138,32,.92);
    --m-good_font_mix_80: #77a345;
    --m-inaccuracy_bg-box_mix_30: rgba(11,62,91,.72);
    --m-interesting_bg-box_mix_30: rgba(117,36,108,.72);
    --m-link_bg-box_mix_10: rgba(7,25,42,.64);
    --m-link_bg-box_mix_15: rgba(9,35,59,.66);
    --m-link_bg-box_mix_20: rgba(12,44,75,.68);
    --m-link_bg-box_mix_80: rgba(29,109,183,.92);
    --m-link_font_mix_35: #90afcc;
    --m-mistake_bg-box_mix_30: rgba(89,61,0,.72);
    --m-primary_bg-box_mix_10: rgba(7,25,42,.64);
    --m-primary_bg-box_mix_12: rgba(8,29,49,.648);
    --m-primary_bg-box_mix_15: rgba(9,35,59,.66);
    --m-primary_bg-box_mix_20: rgba(12,44,75,.68);
    --m-primary_bg-box_mix_25: rgba(14,53,89,.7);
    --m-primary_bg-box_mix_30: rgba(16,60,101,.72);
    --m-primary_bg-box_mix_40: rgba(19,73,124,.76);
    --m-primary_bg-box_mix_60: rgba(25,93,158,.84);
    --m-primary_bg-box_mix_70: rgba(27,102,171,.88);
    --m-primary_bg-box_mix_80: rgba(29,109,183,.92);
    --m-primary_bg-box_mix_90: rgba(30,115,194,.96);
    --m-primary_bg-zebra_mix_10: rgba(74,145,213,.145);
    --m-secondary_bg-box_mix_10: rgba(20,31,7,.64);
    --m-secondary_bg-box_mix_15: rgba(29,45,10,.66);
    --m-secondary_bg-box_mix_20: rgba(36,56,13,.68);
    --m-secondary_bg-box_mix_30: rgba(49,76,18,.72);
    --m-secondary_bg-box_mix_40: rgba(60,93,22,.76);
    --m-secondary_bg-box_mix_50: rgba(69,107,25,.8);
    --m-secondary_bg-header-dropdown_mix_15: rgba(51,61,40,.915);
    --m-secondary_bg-header-dropdown_mix_27: rgba(59,76,39,.927);
    --m-secondary_bg-header-dropdown_mix_36: rgba(64,86,39,.936);
    --m-secondary_bg-popup_mix_10: rgba(20,31,7,.64);
    --m-secondary_bg-zebra_mix_10: rgba(128,172,77,.145)
}
