.sg-hand-wrap {
  height: 100%;
  width: 12% !important;
  max-width: none;
  min-height: 0;
  background: transparent !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  flex-shrink: 0;
}

.sg-hand-wrap sg-hand {
  display: flex !important;
  flex-wrap: nowrap !important;
  position: static !important;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  padding: 2% 0 !important;
  box-sizing: border-box !important;
}

.sg-hand-wrap.hand-bottom sg-hand {
  flex-direction: column-reverse !important;
}

sg-hp-wrap {
  width: 100% !important;
  height: auto !important;
  flex: 0 0 auto !important;
  position: relative !important;
  aspect-ratio: 11/12 !important;
  max-height: calc(100% / 7) !important;
}

sg-hp-wrap piece {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  transform: none !important;
  display: block !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

sg-hand sg-hp-wrap {
  position: relative;
}

sg-hand sg-hp-wrap::after {
  content: attr(data-nb);
  top: 0;
  right: 0;
  position: absolute;
  line-height: 0.9em;
  padding: 3px 0.3em;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  background-color: #2e2e2e;
  border: 1px solid #eee;
  border-radius: 3px;
}
.hand-bottom sg-hand sg-hp-wrap::after {
  top: unset;
  bottom: 0;
}
sg-hp-wrap[data-nb='0']:not(.drawing) {
  opacity: 0.3;
}
sg-hp-wrap[data-nb='0']:not(.selected):not(.drawing)::after {
  content: none;
}

.main-board {
  align-self: center;
}



.hand-bottom {
  align-self: flex-end;
}
sg-hand.promotion::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000003f;
}

sg-hand piece {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: unset;
  cursor: pointer;
  pointer-events: auto;
  border: 2px solid transparent;
  background-repeat: no-repeat;
}

sg-hand sg-hp-wrap.selected {
  opacity: 1;
  background-color: rgba(20, 85, 30, 0.5);
}

sg-hand sg-hp-wrap.preselected {
  opacity: 1;
  background-color: rgba(20, 30, 85, 0.5);
}

sg-hand sg-hp-wrap.current-pre {
  background-color: rgba(20, 30, 85, 0.5);
}

sg-hand sg-hp-wrap.last-dest {
  background-color: rgba(155, 199, 0, 0.41);
}

sg-hand sg-hp-wrap.drawing:before {
  content: '';
  position: absolute;
  width: 12%;
  height: calc(12% / 11 * 12);
  background-color: black;
  border-radius: 50%;
  opacity: 0.7 !important;
}
